.edit-jumbo {
    height: 46rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-row {
    width: 100% !important;
    margin-left: 5rem;
    margin-right: 5rem;
}

// .root: {
//   width: '100%',
// },
// button: {
//   marginTop: theme.spacing(1),
//   marginRight: theme.spacing(1),
// },
// actionsContainer: {
//   marginBottom: theme.spacing(2),
// },
// resetContainer: {
//   padding: theme.spacing(3),
// }