body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5e5);
}

.edit-card {
  width: 16rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0.4rem !important;
  padding: 0;
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .1rem;
}

.edit-card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.edit-card-title {
  margin-bottom: 2rem !important;
}

.edit-card-body {
  padding: 1.5rem 0 !important;
}

.edit-card-recipes {
  font-size: 1.2rem !important;
  padding: 0.7rem !important;
  margin-bottom: 0 !important;
}

.edit-card-text {
  font-size: .9rem !important;
  padding: 0.4rem !important;
  margin-bottom: 0 !important;
}

.edit-card-bottom {
  margin-top: 1.5rem !important;
  font-weight: bold !important;
}

.container-fluid .row {
  padding-top: 1rem !important;
}