body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5e5);
}

#card {
    width: 13rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

#card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

#card-title {
    margin-bottom: 1rem;
}

#card-body {
    padding: 1rem 0 !important;
}

#card-recipes {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0;
}

#card-bottom {
    margin-top: 0.5rem;
    font-weight: bold;
}

#container-fluid .row {
    padding-top: 1rem;
}