// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }
// li {
//     display: inline;
// }
.action-bar {
    display: flex;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 40%;
    width: 8.1%;
    left: 28%;
     :hover {
        color: green;
    }
}


.action-bar img {
    width: 100%;
    vertical-align: bottom;
}

.action-bar .hilight {
}

#tooltip img {
}

#tooltip {
    position: relative;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-left: 6px;
    opacity: 0.85;
    filter: alpha(opacity=85);
    /* Position the tooltip */
    position: absolute;
    z-index: 4;
    pointer-events:none;
}

#tooltip:hover img {
    background: #dddddd;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}