@import "../Theme.scss";
// html,
// body,
// #app,
// #app>div {
//     height: 100%
// }
#wrapper {
    display: flex;
    align-items: flex-start;
}

#sidebar-left {
    width: 25%;
    height: 100%;
    overflow: scroll;
}

#sidebar-left.active {
    margin-left: -250px;
}

#sidebar-right {
    width: 25%;
    height: 100%;
    float: right;
    margin-left: auto;
    margin-right: 0;
}

#main {
    width: 50%;
    height: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#main #top {
    width: 50%;
    height: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#main #bottom {
    width: 50%;
    height: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#name_field {
    color: black
}

#alcoholPanel {
    width: 100%;
}