@import "../Theme.scss";
// html,
// body,
// #app,
// #app>div {
//     height: 100%
// }
#wrapper {
    display: flex;
    align-items: flex-start;
    height: 94%;
}

#sidebar-left {
    width: 25%;
    height: 100%;
    padding-left: 10px;
}

#sidebar-left #top {
    width: 100%;
    height: 50%;
}

#sidebar-left #bottom {
    width: 100%;
    height: 50%;
    padding-top: 1em;
}

#sidebar-left.active {
    margin-left: -250px;
}

#sidebar-right {
    width: 25%;
    height: 100%;
    float: right;
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
}

#main {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#main #top {
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}

#main #bottom {
    height: 35%;
    margin-left: auto;
    margin-right: auto;
}

#name_field {
    color: black
}

.garbage {
    position: absolute;
    top: 40%;
    width: 12%;
    right: 24%;
}

.top-img {
    width: 80%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}