@import "../Theme.scss";
.ingredients-container {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    font-weight: bold;
}

.liquors-container {
    font-weight: bold;
    white-space: nowrap;
}

.vert-table {
    height: 40vh;
    overflow-y: scroll;
}

.hori-table {
    height: 150px;
    overflow: auto;
}

.list_element {
    width: 25%;
    padding-top: 2%;
    display: inline-block;
}

img {
    width: 40%;
    pointer-events: none;
}

.selected {
    background-color: yellow
}

