@import "../Theme.scss";
.ingredients-container {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

// .inner-table {
//     overflow-y: hidden;
// }
.list_element {
    width: 33.3%;
    padding-top: 3%;
    display: inline-block;
}

img {
    width: 50%
}

.selected {
    background-color: yellow
}