@import "../Theme.scss";
.ingredients-container {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    font-weight: bold;
    height: 100%;
    font-family: 'Baloo Bhai', cursive;
}

.liquors-container {
    font-weight: bold;
    white-space: nowrap;
}

.vert-table {
    height: 40vh;
    overflow-y: scroll;
}

.hori-table {
    height: 150px;
    overflow: auto;
}

.list_element {
    width: 25%;
    padding-top: 2%;
    display: inline-block;
    vertical-align: top;
    font-family: 'Prompt', sans-serif;
}

img {
    width: 40%;
    pointer-events: none;
    margin-bottom: 5px;
    vertical-align: bottom;
}

.selected {
    background-color: yellow;
}

p {
    line-height: 1.1;
}