ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#quick-bar {
    position: relative;
    left: 0;
    top: 0;
    :hover {
        color: #ed1212;
    }
    
}

#quick-bar img {
    width: 33.3%;
    border-style: solid;
}

.top-img {
    z-index: 1;
   
}

.bottom-img {
    z-index: 3;
   
}

#tooltip img {
    border-style: solid;
    object-fit: fill;
}

#tooltip {
  position: relative;
  
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 4;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
  
  
}


