ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#quick-bar {
    position: relative;
    left: 0;
    top: 0;
    :hover {
        color: #ed1212;
    }
}

#quick-bar img {
    width: 33.3%;
    border-style: solid;
}

.top-img {
    z-index: 1;
    float: left;
}

.bottom-img {
    z-index: 3;
    float: left;
}

.imageWrapper bottom-img {
    display: block;
}

.imageWrapper .text {
    position: absolute;
    top: 20px;
    right: 200px;
    visibility:hidden;
    
}
.imageWrapper:hover .text {
    visibility: visible;
}
