ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.quick-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
     :hover {
        color: green;
    }
}

.quickbar-item {
    width: 25%;
}

.quick-bar img {
    width: 100%;
}

.quick-bar .highight {
    border-color: yellow;
}

.top-img {
    z-index: 1;
}

.bottom-img {
    z-index: 3;
}

#tooltip img {
}

#tooltip img {
}

#tooltip {
    position: relative;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    opacity: 0.85;
    filter: alpha(opacity=85);
    /* Position the tooltip */
    position: absolute;
    z-index: 4;
    pointer-events:none;
}

#tooltip:hover img {
    background: #dddddd;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    margin-left: 50px;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}