.scroll {
    height:20vh;
    overflow-y:auto;
}

#submit-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #535353;
}

#textfield {
    margin-top: 0.5rem;
}

#description, #name {
    font-size: 1.2rem;
    line-height: 1.1em;
}

#checkbox {
    text-align: left;
    margin: 1.5rem 0 1.5rem 0;
}

#submit-button {
    text-align: right;
    font-weight: bold;
}

.log-box {
    font-size: 1.3rem;
    padding: 7px 7px;
    position: relative;
    line-height: 0.5em;
    border-radius: 4px;
    border: solid 1px #a1a1a1;
    height: 15vh;
    overflow-y:auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.log-box:hover {
    border: solid 1px #445366;
}

.log-box p {
    font-size: 1.3rem;
    padding: 5px 5px;
    position: relative;
    margin: 0;
}

#log-text {
    font-size: 1.3rem;
    margin-bottom: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

#button {
    font-weight: bold;
    padding: 1rem;
}

.block {
    margin: 2rem 0 1rem 0;
    border-top: 5px double #ADADAD;
}

.block1 {
    margin-top: 0.5rem;
}