@import "../Theme.scss";
@import "./QuickBar.scss";
@import "./ActionBar.scss";
.selected-ingredient {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.selected-slot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rotImg{
  -webkit-transform: rotate(20deg);
          transform: rotate(45deg);
}