@import "../Theme.scss";
.selected-ingredient {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.selected-slot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}