#home {
    h1 {
        color: black;
        font-size: 6em;
    }
    h2 {
        color: black;
    }
    h3 {
        color: black;
    }
    h4 {
        color: black;
    }
    .jumbotron {
        height: 100%;
        color: white;
        border-radius: 0;
        h1 {
            color: white;
        }
        h4 {
            color: white;
        }
    }
    .btn-info {
        color: white;
        background-color: black;
        border-color: black;
    }
    #center {
        text-align: center;
    }
    #leftbox {
        float: left;
        width: 40%;
        margin-left: 3%;
        margin-right: 3%;
    }
    #middlebox {
        float: left;
        width: 27%;
        margin-left: 3%;
        margin-right: 3%;
    }
    #rightbox {
        float: right;
        width: 40%;
        margin-left: 3%;
        margin-right: 3%;
    }
}