#leftbox { 
    float:left;
    width:27%;
    margin-left:3%;
    margin-right:3%;
} 
#middlebox{ 
    float:left; 
    width:27%;
    margin-left:3%;
    margin-right:3%;
} 
#rightbox{ 
    float:right; 
    width:27%;
    margin-left:3%;
    margin-right:3%;
} 