@import "../Theme.scss";
body{    
  height: 100%;
  margin: 0
}
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#glass-display {
    min-height: 40%;
}

#option-display {
    min-height: 30%;
}

#selected-display {
    min-height: 30%;
}