body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5e5);
}

.card {
    width: 20rem;
    margin-top: 2.5rem;
    margin-bottom: 0.4rem;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-title {
    margin-bottom: 2rem;
}

.card-body {
    padding: 2.5rem 0 !important;
}

.card-recipes {
    font-size: 1.2rem;
    padding: 0.7rem;
    margin-bottom: 0;
}

.card-text {
    font-size: .9rem;
    padding: 0.7rem;
    margin-bottom: 0;
}

.card-bottom {
    margin-top: 1.5rem;
    font-weight: bold;
}

.container-fluid .row {
    padding-top: 1rem;
}