body {
    background-color: #171a1d;
}

.contents {
    width: 1200px;
    text-align: center;
    margin: auto;
}

.topnav {
    padding-top: 30px;
    margin-bottom: 13px;
}

#logo {
    padding-top: 0;
    margin-bottom: 0;
    margin-right: 70px;
    font-weight: bold;
    font-family: Impact;
    color: #e83e8c;
}

.panes {
    width: 1200px;
    height: 700px;
}

.left-pane {
    width: 280px;
    height: 100%;
    background-color: #343A40;
}

.center-pane {
    width: 620px;
    height: 700px;
    background-color: #171a1d;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: white;
}

.center-top-pane {
    width: 620px;
    height: 450px;
    background-color: #343A40;
    margin-bottom: 10px;
}

.center-bot-pane {
    width: 620px;
    height: 240px;
    background-color: #343A40;
    margin: auto;
}

.right-pane {
    width: 280px;
    height: 100%;
    background-color: #343A40;
}

.explanation {
    font-size: 30px;
    text-align: center;
    color: white;
    margin: auto;
}

thead {
    background-color: lightgray;
    color: #171a1d;
}

.searchbar{
    margin-bottom: 7px;
    margin-top: 30px;
    height: 60px;
    background-color: #343A40;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}