<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Welcome To Online Stratego</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div layout:fragment="content">
        <div class="centerreddiv">
            <h1>Welcome To Raising The Bar!</h1><br><br><br><br>
            <div class="buttons-center">
                <a class="btn btn-rounded-size btn-rounded btn-outline-rounded ml-md-1" href="/login">Login</a>
            </div>
        </div>
    </div>
</body>

</html>