<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>Dashboard</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    <div layout:fragment="content">
        <div class="centerreddiv">
            <h1>Welcome to Raising The Bar!</h1><br><br><br><br>
        </div>
    </div>
    <nav class="topnav navbar navbar-dark bg-dark navbar-fixed-top">
        <a id="logo" class="navbar-brand" href="/home">Raising the Bar</a>
        <a class="navbar-brand" href="/simulation">Simulation</a>
        <a class="navbar-brand" href="/workshop">Workshop</a>
        <a class="navbar-brand" href="/creator">Creator</a>
        <a class="navbar-brand" href="/logout">Logout</a>
    </nav>
</body>
</html>