  
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
   <head>
    <title>Reset Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src='/js/login.js'></script>
    <link rel="stylesheet" href="/css/login.css">
</head>
    <body>
        <center>
            <h2>Enter new password:</h2>
            <form action="#" th:action="@{/reset-password}" th:object="${user}" method="post">  
                <table>  
                    <tr>  
                        <td><label for="emailId">Email</label></td>  
                        <td><input th:field="*{email}" type="text" name="email" readonly></input></td>  
                    </tr>              
                    <tr>  
                        <td><label for="password">Password</label></td>  
                        <td><input th:field="*{password}" type="password" name="password"></input></td>  
                    </tr>  
                    <tr>  
                        <td><input type="reset" value="Clear"/></td>  
                        <td><input type="submit" value="Submit"></input></td>  
                    </tr>  
                </table>  
            </form> 
        </center> 
    </body>  
</html>  