<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src='bootstrap/js/bootstrap.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/simulation.css">
</head>
<body>
    <div class="contents">
        <nav class="topnav navbar navbar-dark bg-dark navbar-fixed-top">
            <a id="logo" class="navbar-brand" href="/home">Raising<br>the Bar</a>
            <a class="navbar-brand" href="/simulation">Simulation</a>
            <a class="navbar-brand" href="/workshop">Workshop</a>
            <a class="navbar-brand" href="/creator">Creator</a>
            <a class="navbar-brand" href="/login">Logout</a>
        </nav>
        <div class="panes d-flex justify-content-between">
            <div class="left-pane">
                <div class="tabs">
                    <input type="radio" name="tabs" id="tabone" checked="checked">
                    <label for="tabone">Glass</label>
                    <div class="tab">
                        <h1>Contents of Glass Category</h1>
                    </div>

                    <input type="radio" name="tabs" id="tabtwo">
                    <label for="tabtwo">Alcohol</label>
                    <div class="tab">
                        <h1>Contents of Alcohol Category</h1>
                    </div>

                    <input type="radio" name="tabs" id="tabthree">
                    <label for="tabthree">Other</label>
                    <div class="tab">
                        <h1>Contents of Other Category</h1>
                    </div>
                </div>
            </div>
            <div class="center-pane">
                <div class="center-top-pane">
                    <p class="auto-margin">Selected Item</p>
                </div>
                <div class="center-bot-pane">
                    <p class="auto-margin">Selected Glass</p>
                </div>
            </div>
            <div class="right-pane">
                <div class="tabs1">
                    <input type="radio" name="tabs1" id="tabfour" checked="checked">
                    <label for="tabfour">Tasks</label>
                    <div class="tab">
                        <h3>Bloody Mary</h3><br>
                        <h3>manhattan</h3>
                    </div>

                    <input type="radio" name="tabs1" id="tabfive">
                    <label for="tabfive">Completed</label>
                    <div class="tab">
                        <h3>Gin Tonic</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>