<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/workshop.css">
</head>
<body>
    <div class="contents">
        <nav class="topnav navbar navbar-dark bg-dark navbar-fixed-top">
            <a id="logo" class="navbar-brand" href="/home">Raising<br>the Bar</a>
            <a class="navbar-brand" href="/simulation">Simulation</a>
            <a class="navbar-brand" href="/workshop">WorkshopContainer</a>
            <a class="navbar-brand" href="/creator">Creator</a>
            <a class="navbar-brand" href="/login">Logout</a>
        </nav>

        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>

        <div class="panes d-flex justify-content-between">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col"># of People Completed</th>
                    <th scope="col">Simulation</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">12131415</th>
                    <td>Name 1</td>
                    <td>01/01/2000</td>
                    <td>534</td>
                    <td>Martini, Manhattan</td>
                    <td>"Link to This Simulation"</td>
                </tr>
                <tr>
                    <th scope="row">75789645</th>
                    <td>Name 2</td>
                    <td>04/03/2051</td>
                    <td>1</td>
                    <td>Pain Killer, Tom Collins</td>
                    <td>"Link to This Simulation"</td>
                </tr>
                <tr>
                    <th scope="row">93568751</th>
                    <td>Name 3</td>
                    <td>04/21/1019</td>
                    <td>41</td>
                    <td>White Russian</td>
                    <td>"Link to This Simulation"</td>
                </tr>
                <tr>
                    <th scope="row">111248807</th>
                    <td>Name 4</td>
                    <td>03/31/1990</td>
                    <td>7848</td>
                    <td>Irish Coffee, Manhattan, Bamboo, Long Island Iced Tea</td>
                    <td>"Link to This Simulation"</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>