.theme-primary-color {
    background-color: #2E4158;
}

.theme-primary-text-color {
    color: white;
}

.theme-secondary-color {
    background-color: #66DAC7;
}

.center {
    text-align: center;
    position: relative;
}